<h1>ツイート一覧</h1>

ログイン中UID：<%= session[:login_uid] %><br>

<% u = User.find_by(uid: session[:login_uid] ) %>
<% if session[:login_uid] %>
  <%= link_to "マイプロフィールを表示", profile_path(u.profile) %><br>
<% end %>

<%= link_to "ログイン", top_main_path %><br>
<%= link_to "ログアウト", top_logout_path %><br><br>
<% @tweets.each do |e| %>
  <%= e.message %>
  いいね：<%= e.like_users.count %>件
  <%= link_to "削除", tweet_path(e), data: {turbo_method: :delete} %>
  
  <% if session[:login_uid] %>
    <br>
    <%= link_to 'いいね', likes_path(tweet_id: e.id), data: { turbo_method: :post } %>
    <%= link_to 'いいね削除', like_path(e), data: { turbo_method: :delete } %>
  <% end %>
  <br>
<% end %>
<br>
<% if session[:login_uid] %>
  <%= link_to "新規ツイート", new_tweet_path %>
<% end %>
<br><br>
<%= link_to "全ユーザープロファイル一覧", profiles_path %>
<%= link_to "全ユーザー一覧", users_path %>