<h1>ユーザー新規登録</h1>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= form_with model: @user do |form| %>
  <%= form.label :uid, "ユーザーID" %>
  <%= form.text_field :uid %>
  <%= form.label :pass, "パスワード" %>
  <%= form.password_field :pass %>
  <%= form.submit "登録" %>
<% end %>
<br>
<%= link_to "キャンセル", tweets_path %>